.htaccess
*.htaccess
.htaccess*
*web.config
*.log
*.sql
*.txt
*.dt
*.xml
*.tar.gz*
*.zip
*.rar
*.gz
*.tar
*.bak
*.old
*.env
*~
*/_*
_*
*.bak

cache/*

# файлы среды разработки Netbeans
nbproject/

# файлы среды разработки от JetBrains (PHPStorm, WebStorm, etc)
.idea/

/node_modules/
/bower_components/
/vendor/

/bitrix
/upload
/video

/local/build

hosts.yml
